/** 
 * Created on  : Apr 10, 2015, 10:38:15 PM
 * Author      : Ibrahim & Atiku
 * Description : General Layout designs
 */
/*-------------------------------------------------------------*/
/*                        Imports                              */
/*-------------------------------------------------------------*/
@import url(inputs.css);

/*-------------------------------------------------------------*/
/*                     General Styles                          */
/*-------------------------------------------------------------*/
body
{
    background  : darkorange;
    padding     : 0px;
    margin      : 0px;
    font-family : "Arial";
    font-size   : 13px;
    color       : #FFF;
}
.wrapper
{ 
    display:block;
}
.loader
{
    width      : 100%;
    height     : 100%;
    position   : fixed;
    z-index    : 1500;
    background : #FFF url('../images/loader.gif') center no-repeat;
    opacity    : 0.5;
    top        : 0px;
    display    : none; 
}
.close-div
{
    float       : right;
    font-weight : bolder;
    cursor      : pointer;
}

/*-------------------------------------------------------------*/
/*                        Login Style                          */
/*-------------------------------------------------------------*/
.top-holder
{
    background : none;
    width      : 925px;
    margin     : 5% auto 17px auto; 
}
.top-holder .sys-error
{
    padding       : 11px;
    background    : salmon;
    color         : red;
    border        : 1px solid red;
    margin        : 15px 0px;
    border-radius : 7px;
    display       : none
}
.login-style
{
    background : none;
    width      : 925px;
    overflow   : hidden;
    margin     : 0px auto; 
}
.login-style #left
{    
    width   : 62%;
    float   : left;
    height  : 361px;
    padding : 13px; 
    border-radius : 7px;
    background : #719F2D url('../images/quran.fw.png'); 
    cursor : pointer;
}
.login-style #right
{    
    width : 33%;
    float : right; 
}
.login-style #right #top
{   
    background    : #D2D1D1;
    border-radius : 7px;
    padding       : 13px 15px;
}
.login-style #right #bottom
{
    background    : #878787;
    border-radius : 7px;
    padding       : 13px 15px;
    margin-top    : 15px; 
}
.login-style .sub-cat
{
    background : #FFF;
    width      : 31%;
    height     : 31%; 
    float      : left;
    margin-right: 3%
}
.footer-login
{
    width      : 925px;
    margin     : 15px auto 0px auto;
}
