/** 
 * Created on  : Apr 10, 2015, 10:38:15 PM
 * Author      : Ibrahim & Atiku
 * Description : General Layout designs
 */
/*-------------------------------------------------------------*/
/*                        Imports                              */
/*-------------------------------------------------------------*/
@import url(inputs.css);

body
{
    background  : darkorange;
    padding     : 0px;
    margin      : 0px;
    font-family : "Arial";
    font-size   : 13px;
    color       : #FFF;
}

.wrapper
{ 
    display:block;
}
/*-------------------------------------------------------------*/
/*                        Login Style                          */
/*-------------------------------------------------------------*/
.top-holder
{
    background : none;
    width      : 925px;
    margin     : 5% auto 17px auto; 
}
.login-style
{
    background : none;
    width      : 925px;
    overflow   : hidden;
    margin     : 0px auto; 
}
.login-style #left
{    
    width   : 62%;
    float   : left;
    height  : 387px;
    padding : 13px; 
    border-radius : 7px;
    background : #719F2D;  
}
.login-style #right
{    
    width : 33%;
    float : right; 
}

.login-style #right #top
{   
    background    : #D2D1D1;
    border-radius : 7px;
    padding       : 13px 15px;
}

.login-style #right #bottom
{
    background    : #878787;
    border-radius : 7px;
    padding       : 13px 15px;
    margin-top    : 15px; 
}

.login-style .sub-cat
{
    background : #FFF;
    width      : 25%;
    height     : 25%; 
}

.footer-login
{
    width      : 925px;
    margin     : 15px auto 0px auto;
}